html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-margin: 0;
  -ms-padding: 0;
  -ms-box-sizing: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --bl: #000;
  --lg:#ccc;
  --dg:#666;
  --lwh:#f2f2f2;
  --wh:#fff;
}

body {
  background-color: var(--lwh);
  font-family: 'montserrat','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.15;
  margin: 0;
}

.container {
  margin: 0 .9375rem;
}

ul {
  list-style: none;
}

a {
  color: var(--bl);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

p {
  margin: 0.625rem 0;
}

img {
  width: 100%;
  height: auto;
}

.tag {
  background-color: var(--bl);
  padding: 0.125rem 0.5rem;
  color: var(--wh);
}

header {
  text-align: center;
  margin: 3.125rem;
}

hgroup h1 {
  font-size: 2.2rem;
  font-weight: bold;
}

.post {
  margin: 2.5rem 0;
  -webkit-box-shadow: 0.125rem 0.125rem 0.625rem var(--bl);
          box-shadow: 0.125rem 0.125rem 0.625rem var(--bl);
}

.post .post-text {
  margin: .9375rem 1.25rem;
}

.post .post-text p {
  padding-bottom: 1.25rem;
}

.post .post-text hgroup h3,
.post .post-text .post-text-2 hgroup h3 {
  font-size: 1.5625rem;
  font-weight: 500;
  margin-top: 0;
}

.post .post-text hgroup p .faint {
  opacity: 0.5;
}

button {
  margin: 0.9375rem 0;
  padding: 0.9375rem 1.25rem;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9375rem;
  border: 1px solid var(--lg);
}

button:hover {
  background-color: var(--bl);
  color: var(--lwh);
}

p.comments {
  font-weight: bold;
  padding-top: 25px;
  display: none;
}

.button-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Popular post section */
#popular-posts h3,
#tag-post h3 {
  background-color: var(--dg);
  color: var(--lwh);
  padding: 0.9375rem 1.25rem;
  font-size: 1.375rem;
  margin: 0;
}

#popular-posts {
  /* end of tag post */
}

#popular-posts .flex {
  padding: 1.25rem;
  border-bottom: 1px solid var(--lg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#popular-posts .flex:hover {
  background-color: var(--lg);
}

#popular-posts .flex:last-child {
  border-bottom: none;
}

#popular-posts img {
  width: 3.125rem;
  height: auto;
  margin-right: 0.9375rem;
}

/* Tag Posts */
#tag-post {
  /* end of tag posts */
}

#tag-post .span-tags {
  padding: 0.625rem 0.9375rem 0.9375rem;
}

#tag-post .subtag {
  font-size: 0.8125rem;
  margin: 0.5rem 0;
  padding: 0.2rem 0.5rem;
  background: var(--lg);
  display: inline-block;
}

#tag-post .subtag-1 {
  background-color: var(--bl);
  color: var(--wh);
  display: inline-block;
  padding: 0.2rem 0.5rem;
  margin: 0.5rem 0;
}

/*  Footer */
footer {
  background-color: var(--dg);
  color: var(--lwh);
  padding: 1.25rem 0.9375rem;
}

footer .footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5625rem;
}

footer .footer-flex p {
  background-color: var(--bl);
  color: var(--lwh);
  padding: 0.9375rem;
}

footer .footer-flex p:hover {
  background-color: var(--lg);
  color: var(--bl);
  cursor: pointer;
}

footer .footer-flex p.disable {
  opacity: 0.4;
  margin-right: 0.3125rem;
}

footer .footer-flex p.disable:hover {
  cursor: not-allowed;
}

footer footer > p {
  margin-bottom: 1.875rem;
}

footer .u-line {
  text-decoration: underline;
  cursor: pointer;
}

/* end of footer */
@media only screen and (max-width: 576px) {
  #main-side img {
    height: 25vh;
  }
}

@media only screen and (min-width: 576px) {
  #main-side img {
    height: 40vh;
  }
  p.comments {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main {
    width: 65.5%;
  }
  aside {
    width: 32%;
  }
  #main-side img {
    height: 47vh;
  }
  p.comments {
    display: block;
  }
}
/*# sourceMappingURL=styles.css.map */